<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  @if (error()) {
    <div style="color: red">Error: {{ error() }}</div>
  }

  <!--<table border="1" cellpadding="5" style="border-collapse: collapse">
    <thead>
      <tr>
        @for (key of objectKeys(data()[0]); track key) {
          <th>{{ key }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data(); track row) {
        <tr>
          @for (value of objectValues(row); track $index) {
            <td>{{ value }}</td>
          }
        </tr>
      }
    </tbody>
  </table>-->

  <div style="background: white; padding: 20px; border-radius: 8px">
    <apx-chart
      [series]="series()"
      [chart]="chart"
      [xaxis]="xaxis"
      [yaxis]="yaxis()"
      [title]="title"
    >
    </apx-chart>
    <p class="text-sm text-slate-500 font-normal mt-1 mb-4 max-w-2xl">
      This chart shows the hourly readings of PM2.5 throughout the day.
    </p>
  </div>
</div>
